version: '3.8'

services:
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: messenger_demo_php
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - postgres
      - redis
    environment:
      DATABASE_URL: "postgresql://messenger:secret@postgres:5432/messenger_demo?serverVersion=16&charset=utf8"
      MESSENGER_TRANSPORT_DSN: "redis://redis:6379/messages"

  postgres:
    image: postgres:16-alpine
    container_name: messenger_demo_postgres
    environment:
      POSTGRES_DB: messenger_demo
      POSTGRES_USER: messenger
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: messenger_demo_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
